script(type='text/javascript').
    var WarehouseItemsSuggestionModal = {

        table: null,

        init: function (modalId, callbackName, rowId, articleNumber) {
            try {

                if (WarehouseItemsSuggestionModal.table) {
                    WarehouseItemsSuggestionModal.table.dataTable().api().search(articleNumber).draw();
                    return;
                }

                WarehouseItemsSuggestionModal.table = $('#' + modalId + '__items_table');

                WarehouseItemsSuggestionModal.table.dataTable({
                    'serverSide': true,
                    'search': {
                        'search': articleNumber
                    },
                    'paging': false,
                    'ajax': {
                        'url': '/warehouse/items/list',
                        'error': function () {
                            $(
                                    '<div class="alert alert-danger alert-dismissable" style="margin-top: 20px;">' +
                                    '  <i class="fa fa-ban"></i>' +
                                    '  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>' +
                                    '  #{_.i18n("items_suggestion_modal.error.data")}' +
                                    '</div>'
                            ).insertBefore($('div.table-responsive'));
                        }
                    },
                    'dom': '<"row"<"col-xs-12"t>>',
                    'lengthChange': false,
                    'scrollX': true,
                    'language': {
                        'emptyTable': '#{ _.i18n("datatable.emptyTable") }',
                        'info': '#{ _.i18n("datatable.info") }',
                        'infoEmpty': '#{ _.i18n("datatable.infoEmpty") }',
                        'infoFiltered': '#{ _.i18n("datatable.infoFiltered") }',
                        'infoPostFix': '#{ _.i18n("datatable.infoPostFix") }',
                        'thousands': '#{ _.i18n("datatable.thousands") }',
                        'lengthMenu': '#{ _.i18n("datatable.lengthMenu") }',
                        'loadingRecords': '#{ _.i18n("datatable.loadingRecords") }',
                        'processing': '#{ _.i18n("datatable.processing") }',
                        'search': '#{ _.i18n("datatable.search") }',
                        'zeroRecords': '#{ _.i18n("datatable.zeroRecords") }',
                        'paginate': {
                            'first': '#{ _.i18n("datatable.paginate.first") }',
                            'last': '#{ _.i18n("datatable.paginate.last") }',
                            'next': '#{ _.i18n("datatable.paginate.next") }',
                            'previous': '#{ _.i18n("datatable.paginate.previous") }'
                        },
                        'aria': {
                            'sortAscending': '#{ _.i18n("datatable.aria.sortAscending") }',
                            'sortDescending': '#{ _.i18n("datatable.aria.sortDescending") }'
                        }
                    },
                    'columns': [
                        {'data': 'articleNumber'},
                        {'data': 'supplier'},
                        {'data': 'price'},
                        {'data': 'priceDate'},
                        {'data': 'warehouseAmount'},
                        {'data': 'supplierAmount'},
                        {'data': 'warehouseRack'}
                    ],
                    'createdRow': function (row, data) {
                        $(row).click(function () {
                            window[callbackName](data, modalId, rowId);
                        });
                    }
                });

            } catch (e) {
                console.log(e);
            }

        },

        show: function (modalId, callbackName, rowId) {
            try {
                var articleNumber = $('input[name="items[' + rowId + '].itemArticleNumber"]').val();
                WarehouseItemsSuggestionModal.init(modalId, callbackName, rowId, articleNumber);
                $('#' + modalId).modal('show');
            } catch (e) {
                console.log(e);
            }
        },

        hide: function (modalId) {
            try {
                $('#' + modalId).modal('hide');
            } catch (e) {
                console.log(e);
            }
        }

    };