extends ../layout_logged_in

block content_logged_id
    //- Content Header (Page header)
    section.content-header
        h1 #{_.i18n('deficit.item.table.header')}
        div.controls
            button#submitOrderedItems.btn.btn-success(disabled)
                span#submitOrderedItemsSpinner.fa.fa-spinner.fa-spin.hide
                = _.i18n('deficit.item.button.submit_ordered')
            a.btn.btn-info(href="/deficit/file")= _.i18n('deficit.item.button.download')

    //- Main content
    section.content
        div.row
            div.col-xs-12
                div.box
                    div.box-body
                        div.table-responsive
                            table#deficitItemList.table.table-bordered.table-hover.table-striped.selectable(role='grid')
                                thead
                                    tr
                                        th
                                            input#deficit-item-select-all(name='deficit.item.select-all', type='checkbox')
                                        th= _.i18n('deficit.item.table.order_id')
                                        th= _.i18n('deficit.item.table.item_id')
                                        th= _.i18n('deficit.item.table.order_date')
                                        th= _.i18n('deficit.item.table.amount')
                                        th= _.i18n('deficit.item.table.order_source')
                                        th= _.i18n('deficit.item.table.dispatch_date')
                                        th= _.i18n('deficit.item.table.article_number')
                                        th= _.i18n('deficit.item.table.ordered_from')
                                        th= _.i18n('deficit.item.table.ordered_on')
                                        th= _.i18n('deficit.item.table.delivery_days')

    div#messagesModal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                    h3#modalHeader
                div#modalContent.modal-body

block page_scripts
    script(src="/js/deficit_item.js", type="text/javascript")
    script(type="text/javascript").
        var tableLoadErrorMessage = '#{_.i18n("deficit.item.table.load.error")}';
        var modalErrorHeader = '#{_.i18n("deficit.item.table.errors")}';
        var modalSuccessHeader = '#{_.i18n("deficit.item.modal.header.success")}';
        var tplVarLang = '#{_.lang()}';
        var tplVarTableText = {
            'emptyTable': '#{ _.i18n("datatable.emptyTable") }',
            'info': '#{ _.i18n("datatable.info") }',
            'infoEmpty': '#{ _.i18n("datatable.infoEmpty") }',
            'infoFiltered': '#{ _.i18n("datatable.infoFiltered") }',
            'infoPostFix': '#{ _.i18n("datatable.infoPostFix") }',
            'thousands': '#{ _.i18n("datatable.thousands") }',
            'lengthMenu': '#{ _.i18n("datatable.lengthMenu") }',
            'loadingRecords': '#{ _.i18n("datatable.loadingRecords") }',
            'processing': '#{ _.i18n("datatable.processing") }',
            'search': '#{ _.i18n("datatable.search") }',
            'zeroRecords': '#{ _.i18n("datatable.zeroRecords") }',
            'paginate': {
                'first': '#{ _.i18n("datatable.paginate.first") }',
                'last': '#{ _.i18n("datatable.paginate.last") }',
                'next': '#{ _.i18n("datatable.paginate.next") }',
                'previous': '#{ _.i18n("datatable.paginate.previous") }'
            },
            'aria': {
                'sortAscending': '#{ _.i18n("datatable.aria.sortAscending") }',
                'sortDescending': '#{ _.i18n("datatable.aria.sortDescending") }'
            }
        };
